# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# XcodeGen (uncomment if you regenerate locally and don't commit the project)
# *.xcodeproj
